
/* styles go here */

body {
  box-sizing: border-box;
}

fieldset {
  margin-top: 20px;
}

button {
  margin: 20px 0;
}

.choose {
  display: inline-block;
}

label {
  margin-top: 10px;
  display: block;
}

.personal_info {
  margin-top: 0;
}

.choose,
.top {
  margin-top: 0;
}
